<button class="text-white bg-red-800 px-12 py-3 leading-4 tracking-wide capitalize font-lato transition ease-linear delay-200 duration-300 hover:bg-white hover:text-red-800 font-extrabold">
    <slot/>
</button>
